[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
black = "==20.8b1"
flake8 = "*"
isort = "*"

[packages]
django = "*"
psycopg2-binary = "*"
gunicorn = "*"
djangorestframework = "*"

[requires]
python_version = "3.8.5"
